.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 0 0.5rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover,
.nav-links a.active {
  background: #f8df00;
  border-color: #292929;
  color: #292929;
}
